---
import './styles.css';
---

<section id="faq">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Preguntas frecuentes</span>
      <h2 class="cs-title">Una mente sana en un cuerpo sano</h2>
    </div>
    <div class="cs-flex-group">
      <ul class="cs-faq-group">
        <li class="cs-faq-item active">
          <button class="cs-button">
            <span class="cs-button-text">¿Cómo puedo iniciar mi plan de dieta personalizado?</span>
          </button>
          <p class="cs-item-text">
            Para iniciar tu plan de dieta personalizado, solo necesitas visitar nuestro sitio web y completar nuestro cuestionario inicial. Este cuestionario recoge información sobre tus objetivos de salud, tus preferencias alimenticias y tu estilo de vida. Con base en tus respuestas, nuestra aplicación generará un plan de dieta que se adapte a tus necesidades específicas.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">¿Qué variedad de dietas ofrece la aplicación?</span>
          </button>
          <p class="cs-item-text">
            Nuestra aplicación ofrece una amplia gama de dietas para satisfacer diversas necesidades y preferencias. Esto incluye dietas equilibradas para una alimentación saludable general, así como dietas especializadas como la dieta cetogénica, vegetariana, sin gluten, entre otras. Independientemente de tus necesidades y objetivos dietéticos, tenemos una opción para ti.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text"> ¿Puedo personalizar mi dieta en base a mis necesidades?</span>
          </span>
          </button>
          <p class="cs-item-text">
            Puedes personalizar tu dieta en cualquier momento a través de nuestra aplicación. Solo tienes que acceder a tu perfil y utilizar nuestras herramientas de personalización para ajustar tus preferencias alimenticias, establecer restricciones dietéticas y definir tus metas de salud.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text"> ¿La aplicación proporciona seguimiento del progreso?</span>
          </span>
          </button>
          <p class="cs-item-text">
            Sí, nuestra aplicación proporciona un seguimiento detallado de tu progreso y te permite establecer metas de peso personalizadas. Con gráficos y estadísticas que se actualizan regularmente, podrás seguir tus logros y llevar un registro de tu éxito en la consecución de tus metas de salud.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">¿Cuál es la política de reembolso de la aplicación? </span>
          </button>
          <p class="cs-item-text">
            Nos esforzamos por garantizar la satisfacción de nuestros usuarios y ofrecemos una política de reembolso dentro de un período específico si no estás completamente satisfecho con nuestra aplicación. Para obtener más detalles sobre nuestra política de garantía, no dudes en ponerte en contacto con nosotros.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>

<script>
  const faqItems = Array.from(document.querySelectorAll('.cs-faq-item'));
  for (const item of faqItems) {
    const onClick = () => {
      item.classList.toggle('active');
    };
    item.addEventListener('click', onClick);
  }
</script>
