---
import "./styles.css";
---

<section id="hero">
    <div class="cs-container">
        <div class="cs-flex-group">
            <span class="cs-topper">VIVE PLENO, VIVE SANO</span>
            <h1 class="cs-title">Cada plato es un paso más cerca hacia tu bienestar</h1>
            <p class="cs-text">Descubre el poder de la alimentación balanceada. Convierte cada comida en una oportunidad para nutrir tu cuerpo y mente.</p>
            <a href="/fitbase/#about" class="cs-button-solid">Comienza ahora</a>
        </div>
    </div>

    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Hero/Background-m.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Hero/Background.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/Background.jpg" alt="mountains" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>
