---
import './styles.css';
---

<section id="about">
  <div class="cs-container">
    <div class="cs-image-group">
      <picture class="cs-picture cs-picture1">
        <source media="(max-width: 600px)" srcset="/fitbase/about_1.webp" />
        <source media="(min-width: 601px)" srcset="/fitbase/about_1.webp" />
        <img loading="lazy" decoding="async" src="/fitbase/about_1.webp" alt="chef" width="413" height="500" />
      </picture>
      <picture class="cs-picture cs-picture2">
        <source media="(max-width: 600px)" srcset="/fitbase/about_2.webp" />
        <source media="(min-width: 601px)" srcset="/fitbase/about_2.webp" />
        <img loading="lazy" decoding="async" src="/fitbase/about_2.webp" alt="chef2" width="413" height="280" />
      </picture>
    </div>
    <div class="cs-content">
      <span class="cs-topper">Sobre nosotros</span>
      <h2 class="cs-title">Te ayudamos a poder mejorar tus hábitos alimenticios </h2>
      <p class="cs-text">
        Nuestro enfoque se centra en la individualidad de cada persona, reconociendo que no existe una talla única para todos cuando se trata de nutrición. Creemos en la importancia de personalizar los planes de alimentación para satisfacer las necesidades únicas de cada usuario, teniendo en cuenta sus metas, preferencias alimenticias y estilo de vida.
      </p>
    </div>
  </div>
</section>
