---
import './styles.css';
---

<section id="process">
    <div class="cs-container">
      <div class="cs-content">
        <span class="cs-topper">Nuestro proceso</span>
        <h2 class="cs-title">Cómo funcionamos</h2>
        <p class="cs-text">
          Nos enfocamos en ti, reconociendo tus necesidades y objetivos únicos cuando se trata de nutrición.
        </p>
      </div>
      <ul class="cs-card-group">
        <li class="cs-item">
          <picture class="cs-picture">
            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ficon-orange.svg" alt="icon" width="32" height="32" loading="lazy" decoding="async" aria-hidden="true" />
          </picture>
          <h3 class="cs-h3">Evaluación inicial</h3>
          <p class="cs-item-p">
            Comenzamos comprendiendo tus metas, preferencias alimenticias y estilo de vida.
          </p>
        </li>

        <li class="cs-item cs-arrow" aria-hidden="true">
          <img
            class="cs-arrow-img"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Farrow-curve-right.svg"
            alt="icon"
            width="80"
            height="76"
            loading="lazy"
            decoding="async"
            aria-hidden="true"
          />
        </li>
        <li class="cs-item">
          <picture class="cs-picture">
            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ficon-orange.svg" alt="icon" width="32" height="32" loading="lazy" decoding="async" aria-hidden="true" />
          </picture>
          <h3 class="cs-h3">Desarrollo del plan</h3>
          <p class="cs-item-p">
            Nuestro equipo de expertos creará un plan personalizado según tus necesidades.
          </p>
        </li>

        <li class="cs-item cs-arrow" aria-hidden="true">
          <img
            class="cs-arrow-img"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Farrow-curve-right.svg"
            alt="icon"
            width="80"
            height="76"
            loading="lazy"
            decoding="async"
            aria-hidden="true"
          />
        </li>
        <li class="cs-item">
          <picture class="cs-picture">
            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ficon-orange.svg" alt="icon" width="32" height="32" loading="lazy" decoding="async" aria-hidden="true" />
          </picture>
          <h3 class="cs-h3">Seguimiento</h3>
          <p class="cs-item-p">
            Te ofrecemos herramientas para realizar un seguimiento de tu progreso y hacer ajustes cuando sea necesario.
          </p>
        </li>
      </ul>
    </div>
  </section>

