---
import { Image } from "astro:assets";
import "./styles.css";
---

<header id="cs-navigation">
  <div class="cs-container">
    <a href="/fitbase/" class="cs-logo" aria-label="back to home">
      <Image src="/fitbase/logo.webp" alt="Fitbase Logo" aria-hidden="true" decoding="async" loading="lazy" width={200} height={50} />
    </a>
    <nav class="cs-nav" role="navigation">
      <button class="cs-toggle" aria-label="mobile menu toggle">
        <div class="cs-box" aria-hidden="true">
          <span class="cs-line cs-line1" aria-hidden="true"></span>
          <span class="cs-line cs-line2" aria-hidden="true"></span>
          <span class="cs-line cs-line3" aria-hidden="true"></span>
        </div>
      </button>
      <div class="cs-ul-wrapper">
        <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
          <li class="cs-li">
            <a href="/fitbase/#hero" class="cs-li-link cs-active">Home</a>
          </li>
          <li class="cs-li">
            <a href="/fitbase/#about" class="cs-li-link"> Sobre nosotros </a>
          </li>
          <li class="cs-li">
            <a href="/fitbase/#process" class="cs-li-link"> Nuestro proceso </a>
          </li>
          <li class="cs-li">
            <a href="/fitbase/#faq" class="cs-li-link"> FAQ </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<script>
  const CSbody = document.querySelector('body');
  const CSnavbarMenu = document.querySelector('#cs-navigation');
  const CShamburgerMenu = document.querySelector('#cs-navigation .cs-toggle');

  const toggleMenu = () => {
    CShamburgerMenu?.classList.toggle('cs-active');
    CSnavbarMenu?.classList.toggle('cs-active');
    CSbody?.classList.toggle('cs-open');
    ariaExpanded();
  };

  const ariaExpanded = () => {
    const csUL = document.querySelector('#cs-expanded');
    const csExpanded = csUL?.getAttribute('aria-expanded');
    csUL?.setAttribute('aria-expanded', csExpanded === 'false' ? 'true' : 'false');
  };

  CShamburgerMenu?.addEventListener('click', toggleMenu);

  const dropDowns = Array.from(document.querySelectorAll('#cs-navigation .cs-dropdown'));
  dropDowns.forEach(item => item.addEventListener('click', () => item.classList.toggle('cs-active')));

  const csLiLinks = Array.from(document.querySelectorAll('#cs-navigation .cs-li-link'));
  csLiLinks.forEach(item => item.addEventListener('click', () => {
    csLiLinks.forEach(el => el.classList.remove('cs-active'));
    item.classList.add('cs-active');
  }));
</script>
