---
import { Image } from "astro:assets";
import "./styles.css"
---

<footer id="cs-footer">
    <div class="cs-container">
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="">
                <Image src="/fitbase/logo.webp" alt="Fitbase Logo" aria-hidden="true" decoding="async" loading="lazy" width={200} height={80} />
            </a>
            <a href="mailto:info@mail.com" class="cs-link">
                <img class="cs-link-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/construction-mail.svg" alt="icon" width="24" height="24">
                contact@fitbase.com
            </a>
        </div>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Ayuda</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/fitbase/#faq">Preguntas frecuentes</a>
            </li>
        </ul>
    </div>
    <div class="cs-bottom">
        <span class="cs-copyright">Copyright© <span id="cs-year"></span>.
            <a class="cs-copyright-link" href="">Fitbase S.L.</a>
            All Right Reserved.
        </span>

    </div>
    <div class="cs-floater" aria-hidden="true"></div>
</footer>

<script>
    const year = new Date().getFullYear();
    const footer = document.querySelector('#cs-footer #cs-year');
    footer!.textContent = year.toString();
</script>